---
---
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ page.title }} - Edward Gavin</title>
        <link rel="stylesheet" href="/assets/css/styles.css" />
    </head>
    <body>
        <div class="title_space">
            <h1>Edward Gavin</h1>
            <p>Software developer from England, working on...</p>
            <p>just about anything really</p>
            {% include navigation.html %}
        </div>
        <div class="content_space">
            {{ content }}
        </div>
    </body>
</html>
