---
---
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="HandheldFriendly" content="true">
        <title>{{ page.title }} - Edward Gavin</title>
        <link rel="stylesheet" href="/assets/css/styles.css" />
    </head>
    <body>
        <div class="title_space">
            <a href="/"><h1>Edward Gavin</h1></a>
            <p>Software developer from England, working on...</p>
            <p>just about anything really</p>
            {% include navigation.html %}
        </div>
        {% if content != "" %}
        <div class="content_space">
            {{ content }}
        </div>
        {% endif %}
    </body>
</html>
